{{> head}}

    <main class="main {{#checkIfNone @config.custom.sidebar}}main--full{{/checkIfNone}}">
        <div class="page-header">
            <h1 class="page-header__title">
                {{ translate 'error.404' }}
            </h1>
            <p class="page-header__desc">
                {{ translate 'error.description' }}
            </p>
        </div>{{!-- .page-header --}}
    </main>

{{#if @config.custom.sidebar}}
    {{> sidebar}}
{{/if}}

{{> footer}}
