/* 
 * We can add our own CSS rules to the WYSIWYG editor; thanks to this we can style the post directly in the post editor to match the theme's style.
 */

.post__image--left {
	float: left;
	margin-right: calc(1.86667rem + 0.5vw);
	max-width: 50%;
}

.post__image--right {
	float: right;
	margin-left: calc(1.86667rem + 0.5vw);
	max-width: 50%;
}

.post__image--center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.post__image--wide {
	text-align: center;
}

.post__image--full {
	text-align: center;
}

.msg {
	padding: 1.06667rem 1.6rem;
}

.msg--highlight {
	background-color: #fff7e5;
}

.msg--info {
	background-color: #d9edf7;
}

.msg--success {
	background: #d5efc2;
}

.dropcap:first-letter {
	float: left;
	font-size: 3.65324rem;
	line-height: 0.6;
	margin-right: 0.5rem;
	padding: 0.5rem 0.5rem 0.5rem 0;
}
