// Menu ----------------------------------------------------------------- 

.navbar {
	&__menu {
		// before "is opened"
		font-family: $font-2;
		font-weight: $font-weight-bold;
		margin: 0;
		padding: 0;
		overflow: hidden;
		@include mappy-bp(max md) {
			background: $color-menu;
			height: 100vh;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 2.99rem;
			transition: all 0.3s ease-out;
			visibility: hidden;
			transform: translateY(-5%);
			width: 100%;
			z-index: 1;
			&>li {
				transition: all 0.3s ease-out;
				border-bottom: 1px solid $color-border-light;
				padding: 0;
			}
		}
		@include mappy-bp(md) {
			max-height: none;
			overflow: visible;
		}
		padding: 0;
		li {
			color: $color-menu-link;
			padding: 0;
			text-align: center;
			@include mappy-bp(md) {
				display: inline-block;
				margin: 0 0 0 baseline(6);
				position: relative;
			}
			&:hover,
			&[aria-expanded="true"] {
				cursor: pointer;
				&>ul {
					@include mappy-bp(md) {
						display: block;
						li {
							margin: 0;
							display: block;
						}
					}
				}
			}
			a,
			span {
				display: block;
				color: $color-menu-link;
				white-space: nowrap;
				@include mappy-bp(max md) {
					padding: baseline(4) 0;
				}
				&:after {
					content: "";
					display: block;
					margin: 0 auto;
				}
				&:hover:not(span) {
					color: $color-menu-link-hover;
				}
			}
		}
	}
	&__submenu {
		@include mappy-bp(max md) {
			margin: 0;
		}
		@include mappy-bp(md) {
			background: $color-menu;
			box-shadow: 0 0 6px rgba($dark, 0.15);
			display: none;
			left: auto;
			margin: 15px 0 0;
			padding: baseline(2) 0;
			position: absolute;
			top: 100%;
			width: auto;
			z-index: 2000;
			&:before {
				// submenu top space
				content: '';
				display: block;
				height: 15px;
				left: 0;
				position: absolute;
				top: -15px;
				width: 100%;
			}
			li {
				border: none;
				font-weight: normal;
				margin: 0;
				&>a {
					padding: baseline(2) baseline(10);
					@include mappy-bp(max md) {
						padding: baseline(1) 0;
					}
				}
				&:hover {
					&>a {
						background: $gray-light;
					}
				}
				ul {
					// second and the next lavel
					left: 90%;
					top: 0;
					transform: translate(-10%, 0);
					&.navbar__submenu--reversed {
						left: auto;
						right: 90%;
						top: 0;
					}
				}
			}
		}
	}
	&__toggle {
		background: none;
		border: none;
		border-top: 2px solid $dark;
		border-radius: 0;
		display: block;
		@include mappy-bp(md) {
			display: none;
		}
		height: 14px;
		padding: 0;
		@include centerXY(false, true);
		right: 0;
		text-indent: -99999rem;
		width: 1.6rem;
		z-index: 3;
		&:before {
			border-top: 2px solid $dark;
			content: "";
			left: 0;
			position: absolute;
			top: 4px;
			width: 100%;
		}
		&:after {
			border-bottom: 2px solid $dark;
			content: "";
			left: 0;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		&:focus {
			background: none;
			outline: none;
			border: none;
			border-top: 2px solid $color-border;
		}
		&:hover {
			background: none;
		}
	}
}

.is-opened {
	&>ul {
		opacity: (1);
		overflow: auto;
		visibility: visible;
		transform: translateY(0);
		li {
			padding: 0;
			transform: translateY(0);
			ul {
				height: 0;
				opacity: (0);
				transition: all 0.3s ease-out;
				transform: translateY(-10%);
				& li {
					border-top: 1px solid $color-border-light;
				}
			}
			&:hover>ul {
				height: auto;
				opacity: (1);
				transform: translateX(0);
			}
			&[aria-expanded="true"]>ul {
				display: block;
			}
		}
	}
}

@include mappy-bp(max md) {
	.has-submenu {
		&:after {
			background: $white;
			border-right: 1px solid $color-border;
			border-bottom: 1px solid $color-border;
			content: '';
			display: block;
			height: 8px;
			position: absolute;
			right: 10px;
			top: 1rem;
			transform: rotate(45deg);
			width: 8px;
		}
	}
}
